.container{
    /* border-color: black; */
/*    
    border: 2px solid; */
    /* height: 600px; */
    /* width: 1200px; */
    padding: 40px;
}
.child-1{
    display: inline-block;
     /* border:2px solid aqua; */
    /* height: 400px; */
    width: 270px; 
    
}
.child-2{
    display: inline-block;
/* 
    border:2px solid aqua; */
    /* height: 400px; */
    width: 270px; 
    
}
.child-3{
    display: inline-block;
  

 
    /* border:2px solid aqua; */
    /* height: 400px; */
    width: 270px; 
    
}
.child-4{
    display: inline-block;
    /* border:2px solid aqua; */
    /* height: 400px; */
    width: 270px; 
    
}

img{
    width: 100%;
}
p,h3{
    text-align: center;
}