.container{
    border: 2px solid red;
    /* height: 600px; */
    width: 1200px;
    padding: 40px;
    padding-left: 100px;
  align-items: flex-start;
}
.child1{
    border: 2px solid red;
    display:grid;
    height: 500px;
    width: 350px;
     align-content: flex-end;
}
.child2{
    border: 2px solid red;
    /* height: 500px; */
    width: 350px;
    display:grid;
    margin-left: 30px;
    align-content: flex-end;
}
img{
    width: 100%;
}