.container{
    background-color: bisque;
    border: 2px solid black;
    height: 400px;
    width: 200px;
    border-radius: 10px;
    /* position: relative; */
    /* bottom: 0px; */
    overflow: scroll;
    scrollbar-width: none;
    position: relative;
    left: 300px;
    
}
.navbar{
    background-color: rgba(7, 158, 7, 0.913);
    width: 200px;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    /* top: 0px; */
}
i{
    color: rgb(3, 17, 28);
    /* background-color: rgb(215, 22, 22); */
     display: inline-block;
     font-size: 8px;  
}
.image{
    background-color: rgba(216, 70, 17, 0.872);
    height: 20px;
    width: 20px;
     display: inline-block;
     border-radius: 50%;
    position: absolute;
    bottom: 5px;
}
img{
    width: 100%;
    border-radius: 100px;
   
}
h1{
    color: aliceblue;
    font-size: 15px;
    position: absolute;
    top: 0px;
    left: 5px;
}
h4{
    font-size: 10px;
    display: inline-block;
    padding: 0px 20px 0px 0px;
    /* background-color: blueviolet; */
    margin-left: 25px;

    
}
.icons{
    /* background-color: rgb(58, 167, 222); */
    display: inline-block;
    width: 100%;
    /* border-top-left-radius: 50px;
    border-top-right-radius: 50px; */
    padding-top: 30px;
    height: 30px;
    /* position: absolute; */
    /* top: 0px; */
    
}
#a1{
     margin-left: 5px;
}
#a2{
     margin-left: 25px;
}
#a1,#a2,#a3,#a4{
   
}
#a5{
    width: 100%;
    /* padding-bottom: 10px; */
    position: absolute;
    top: 3px;
}
#a6{
    padding-left: 6px;
}
.footer{
    background-color:white;
    /* border:1px solid black; */
    /* height: 15px;
    width: 200px;
    position: fixed;
    top: 0px; */
     width: 100%;
    height: 20px;
    border-radius: 10px;
    position: sticky;
    bottom: 0px;

}
.send{
    text-align: right;
    /* float: right; */
    position: absolute;
    left: 160px;
}
.messages{
    /* text-align: right; */
    width: fit-content;
}
small{
    font-size: 7px;
    background-color: aquamarine;
    border-radius: 50px;
    padding: 1px 3px 1px 3px;
    position: sticky;
    top: 60px;
    overflow: scroll;
    scrollbar-width: none;
    left: 40%;
    /* position: relative; */
}
p{
    background-color: white;
    border-radius: 50px;
    padding: 2px 5px 2px 5px;
    /* display:inline-block;  */
    margin: 5px 0px 5px 0px;
    font-size: 8px;
}
.mike{
    background-color: rgb(30, 244, 10);
    border-radius: 50%;
    height: 13px;
    width: 13px;
    position: absolute;
    bottom: 10%;
    left: 90%;
}
input{
    background-color: white;
    width: 110px;
    border: none;
    font-size: 10px;
    color: rgb(109, 108, 108);
}
