.rectangle{
    height: 200px;
    width: 400px;
    border: 2px solid black;
    background-color: green;
    

}
/* .circle{
    height: 100px;
    width: 100px; border: 2px solid black;
    background-color: red;
    border-radius: 100px;
    position: relative;
    left: 180px;
} */
.halfcirle{
     height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: rgb(245, 244, 244);
    border-radius: 100px;
   


}
