.text{
    text-align: center;
    color:white;
}
h1{
    border: 2px dotted ;
    width: fit-content;
    margin-left: 40%;

}
.container {
    /* background-color: rgb(8, 11, 11); */
    height: 500px;
    border: 2px solid black;
    display: flex;

    justify-content: center;
    align-items: center;
    position: relative;
    /* margin: 100px; */
}

.child .main {
    width: 100%;
    transition-delay: 5s;
    border-radius: 10px;
}

.child .one {
    position: absolute;
    top: 0px;
    width: 100%;
    display: block;
    opacity: 0;
    border-radius: 10px;
    transition: all 1s ease;
}

.child {
    border: 3px solid black;
    /* height: 250px; */
    width: 150px;
    position: absolute;
    top: 0px;
    left: 1000px;
    margin-top: 50px;
}
.child-1:hover .one {
    display: block;
    opacity: 1;
    margin-top: 225px;
    position: relative;
    /* z-index: 1; */
    width: 200%;

}

.child-2:hover .one {
    display: block;
    opacity: 1;
    margin-top: 225px;
    position: relative;
    /* z-index: 1; */
    width: 200%;
}

.child-3:hover .one {
    display: block;
    opacity: 1;
    margin-top: 225px;
    position: relative;
    /* z-index: 1; */
    width: 200%;
}

.child-4:hover .one {
    display: block;
    opacity: 1;
    margin-top: 225px;
    position: relative;
    /* z-index: 1; */
    width: 200%;
}

.child-5:hover .one {
    display: block;
    opacity: 1;
    margin-top: 225px;
    position: relative;
    /* z-index: 1; */
    width: 200%;
}

.child-6:hover .one {
    display: block;
    opacity: 1;
    margin-top: 225px;
    position: relative;
    /* z-index: 1; */
    width: 200%;
}

.child-7:hover .one {
    display: block;
    opacity: 1;
    margin-top: 225px;
    position: relative;
    /* z-index: 1; */
    width: 200%;
}

.child-8:hover .one {
    display: block;
    opacity: 1;
    margin-top: 225px;
    position: relative;
    /* z-index: 1; */
    width: 200%;
}

.child-9:hover .one {
    display: block;
    opacity: 1;
    margin-top: 225px;
    position: relative;
    /* z-index: 1; */
    width: 200%;
}

.child-10:hover .one {
    display: block;
    opacity: 1;
    margin-top: 225px;
    position: relative;
    /* z-index: 1; */
    width: 200%;
}

.child:hover .main {
    display: none;

}

.child:hover {
    border: none;
}

.child-10 {
    margin-left: 10px;
}

.child-9 {
    margin-left: -70px;
}

.child-8 {
    margin-left: -140px;

}

.child-7 {
    margin-left: -210px;

}

.child-6 {
    margin-left: -280px;

}

.child-5 {
    margin-left: -350px;

}

.child-4 {
    margin-left: -420px;

}

.child-3 {
    margin-left: -490px;

}

.child-2 {
    margin-left: -560px;

}

.child-1 {
    margin-left: -630px;

}
body{
    /* background-color: black; */
}

