.container{
    border: 2px solid black;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 200px;
    width: 300px;

}
.child{
    border-radius: 50%;
    border: 1px solid black;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}
.dot-1{
    background-color: blue;

     animation-name: first;
     /* animation-name: a; */
     animation-iteration-count: infinite;
     animation-duration: 2s;
     animation-delay: 0.5s;
     animation-timing-function: ease ;
    animation-direction: alternate;
}
.dot-2{
    background-color: blue;

     animation-name: first;
     /* animation-name: a; */
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease ;
    animation-direction: alternate;
}
.dot-3{
    background-color: blue;

     animation-name: first;
     /* animation-name: a; */
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-timing-function: ease ;
    animation-direction: alternate;
}
.dot-4{
    background-color: blue;

     animation-name: first;
     /* animation-name: a; */
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-timing-function: ease;
    animation-direction: alternate;
}
.dot-2{
    background-color: red;
}
.dot-3{
    background-color: yellow;
}
.dot-4{
    background-color: green;
}



@keyframes first{
    0%{
        
        /* transform: scaleY(20); */
        transform: translateY(0px);
    }
    50%{
        /* transform: scaleY(0 6); */
        transform: translateY(-5px);
    }
    100%{
        /* transform: scaleY(0 6); */
        transform: translateY(0px -5px);
    } 
}
@keyframes move {
  0% {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-15px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
}//