body{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.container{
    width: 400px;
    height:100px;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.container1{
    width: 400px;
    height:100px;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.child{
    width: 100px;
    height: 100px;
    /* border: 2px solid red; */
    background-color: black;
    text-align: center;
    display: flex;
    position: relative;
    /* align-items: center; */
    
}
img{
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}
p{
    opacity: 0;
    color: aqua;
    /* z-index: -1; */
    position: absolute;
    /* width: fit-content; */

}


/* .container.child-1 p{
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
    transition: all 0.5s ease;
    opacity: 1;

}
.container.child-2 p{
     font-size: 2rem;
    text-align: center;
    color: aliceblue;
    transition: all 0.5s ease;
    opacity: 0;
}
.container.child-3 p{
     font-size: 2rem;
    text-align: center;
    color: aliceblue;
    transition: all 0.5s ease;
    opacity: 0;
   
}
.container.child-4 p{
     font-size: 2rem;
    text-align: center;
    color: aliceblue;
    transition: all 0.5s ease;
    opacity: 0;
    
}
.container1.child-5 p{
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
    transition: all 0.5s ease;
    opacity: 0;
   
}
.container1.child-6 p{
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
    transition: all 0.5s ease;
    opacity: 0;
   
}
.container1.child-7 p{
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
    transition: all 0.5s ease;
    opacity: 0;
  
}
.container1.child-8 p{
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
    transition: all 0.5s ease;
    opacity: 0;
   
} */
.child:hover img{
    opacity: 0;
}



.child:hover p{
    opacity: 1;
}
/* .container.child-1:hover p{
  
    opacity: 1;
}
.container.child-2:hover p{
    
    opacity: 1;
}
.container.child-3:hover p{
   
    opacity: 1;
}
.container.child-4:hover p{
   
    opacity: 1;
}
.container1.child-5:hover p{
   
    opacity: 1;
}
.container1.child-6:hover p{
   
    opacity: 1;
}
.container1.child-7:hover p{
  
    opacity: 1;
}
.container1.child-8:hover p{
  
    opacity: 1;
} */


.container.child-1 img{
    display: block;
}
.container.child-2 img{
    display: block;
}
.container.child-3 img{
    display: block;
}
.container.child-4 img{
    display: block;
}
.container1.child-5 img{
    display: block;
}
.container1.child-6 img{
    display: block;
}
.container1.child-7 img{
    display: block;
}
.container1.child-8 img{
    display: block;
}

.container.child-1:hover~img{
    display: none;
}
.container.child-2:hover~img{
    display: none;
}
.container.child-3:hover~img{
    display: none;
}
.container.child-4:hover~img{
    display: none;
}
.container1.child-5:hover~img{
    display: none;
}
.container1.child-6:hover~img{
    display: none;
}
.container1.child-7:hover~img{
    display: none;
}
.container1.child-8:hover~img{
    display: none;
}

