body {
    background-color: black;
}

.container {
    background-color: black;

    /* border: 5px solid red; */
    height: 500px;


    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.container1 {
    border-radius: 50%;
    background-color: black;
    border: 2px solid rgba(102, 12, 60, 0.635);
    height: 200px;
    width: 200px;
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    animation-name: con2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
   
    /* animation-timing-function: ease; */
    animation-delay: 3s;
}
#two{
     animation-direction:alternate-reverse ;    
}
#one{
     animation-direction: reverse;
}
#three{
     animation-direction: normal;
}

.child {

    /* border: 2px solid black; */
    background-color: aqua;
    border-radius: 10%;
    height: 15px;
    width: 8px;
    animation-name: a;

    animation-iteration-count: infinite;
    transform: scaleY(2);
}

.child-1 {
    animation-name: a;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 0.3s;

}

.child-2 {
    animation-name: b;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 0.6s;

}

.child-3 {
    animation-name: c;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 0.9s;

}

.child-4 {
    animation-name: d;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 1.2s;

}

.child-5 {
    animation-name: e;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 1.5s;

}

.child-6 {
    animation-name: f;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 1.8s;

}

.child-7 {
    animation-name: g;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 2.1s;

}

.child-8 {
    animation-name: h;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 2.4s;

}

.child-9 {
    animation-name: i;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 2.7s;

}

.child-10 {
    animation-name: j;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 3s;

}

@keyframes a {
    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(6);
    }

    100% {
        transform: scaleY(0 6);
    }
}

@keyframes b {
    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(9);
    }

    100% {
        transform: scaleY(0 9);
    }
}

@keyframes c {
    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(11);
    }

    100% {
        transform: scaleY(0 11);
    }
}

@keyframes d {
    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(12);
    }

    100% {
        transform: scaleY(0 12);
    }
}

@keyframes e {
    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(13);
    }

    100% {
        transform: scaleY(0 13);
    }
}

@keyframes f {
    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(13);
    }

    100% {
        transform: scaleY(0 13);
    }
}

@keyframes g {
    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(12);
    }

    100% {
        transform: scaleY(0 12);
    }
}

@keyframes h {
    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(11);
    }

    100% {
        transform: scaleY(0 11);
    }
}

@keyframes i {
    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(9);
    }

    100% {
        transform: scaleY(0 9);
    }
}

@keyframes j {
    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(6);
    }

    100% {
        transform: scaleY(0 6);
    }
}

@keyframes con2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}